<form class="flex flex-col max-w-sm" (submit)="onFormSubmit()" [formGroup]="formGroup">
  <h1>Input the coordinates:</h1>

  <p>
    <mat-form-field class="w-full">
      <mat-label>Drone Start</mat-label>
      <input matInput [formControl]="formGroup.controls.droneStart" uppercaseInput />
      <ng-container *ngTemplateOutlet="errors; context: { control: formGroup.controls.droneStart }"></ng-container>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field class="w-full">
      <mat-label>Object Pick-up</mat-label>
      <input matInput [formControl]="formGroup.controls.objectPickup" uppercaseInput />
      <ng-container *ngTemplateOutlet="errors; context: { control: formGroup.controls.objectPickup }"></ng-container>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field class="w-full">
      <mat-label>Delivery Destination</mat-label>
      <input matInput [formControl]="formGroup.controls.deliveryDestination" uppercaseInput />
      <ng-container
        *ngTemplateOutlet="errors; context: { control: formGroup.controls.deliveryDestination }"
      ></ng-container>
    </mat-form-field>
  </p>

  <div class="flex flex-col">
    <button mat-raised-button color="primary" [disabled]="formGroup.invalid || calculating">Submit</button>
    <mat-progress-bar mode="indeterminate" class="pt-2" *ngIf="calculating"></mat-progress-bar>
  </div>

  <div class="flex flex-col pt-[20px]" *ngIf="!calculating && latestResult">
    <h3>The delivery route will be:</h3>
    <p>
      <span *ngFor="let coord of latestResult.fullPath; let isLast = last">{{ coord }} {{ isLast ? '' : ' - ' }}</span>
    </p>
    <h3>This delivery will take {{ latestResult.totalTime }} seconds</h3>
  </div>
</form>

<ng-template #errors let-control="control">
  <ng-container *ngFor="let error of control.errors | keyvalue">
    <mat-error *ngIf="error.value && control.touched" [ngSwitch]="error.key">
      <span *ngSwitchCase="'required'">This field is required</span>
      <span *ngSwitchCase="'maxlength'">The point must have {{ numberOfCharactersInPoint }} characters</span>
      <span *ngSwitchCase="'minlength'">The point must have {{ numberOfCharactersInPoint }} characters</span>
      <span *ngSwitchCase="'invalidPoint'">This is not a valid point</span>
    </mat-error>
  </ng-container>
</ng-template>
